<div class="col-lg-12">
  <hr/>
  <h4 class="text-center">Bookings open now</h4>
  <hr/>
  <p class="text-center">See our <span class="link js-show-brochure">brochure</span> or contact us for more details</p>
</div>
