<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>
        <img class="company-logo" src="images/nivas-logo.png"> <br/>
        {{ owner.address.streetAddress1 }}<br/>
        {{ owner.address.city }}, {{ owner.address.state }},<br/>
        {{ owner.address.country }} - {{ owner.address.postalCode }}<br/>
        Tel: {{ owner.phone }}<br/>
        E-mail: <a href="mailto:{{ owner.email }}">{{ owner.email }}</a><br/>
        <br/>
        Copyright &copy; {{owner.name}} 2016
      </p>
    </div>
  </div>
</div>
