<div class="col-lg-12 text-center">
  <h2 class="brand-before">
    <small>Welcome to</small>
  </h2>
  <h1 class="brand-name">{{project.name}}</h1>
  <hr class="tagline-divider">
  <h2>
    <small>By
      <strong>{{owner.name}}</strong>
    </small>
  </h2>

  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
      {{#project.carousel}}
        <li data-target="#carousel-example-generic" data-slide-to="{{id}}" class="{{class}}"></li>
      {{/project.carousel}}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {{#project.carousel}}
        <div class="item {{class}}">
          <img class="img-responsive img-full" src="{{src}}" alt="">
        </div>
      {{/project.carousel}}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>
