<div class="col-lg-12">
  <hr>
  <h2 class="intro-text text-center">
    A place <strong>worth living in</strong>
  </h2>
  <hr>
  <img class="img-responsive img-border img-left" src="images/pool-3d-view.jpg" alt="">
  <hr class="visible-xs">
  <p>Vaidehi Nivas Golden Palms, a gated community by reputed builders Nivas Developers is a first of its kind mega residential complex in Vidhyanagar, Hyderabad, ideally located in the vincity of massive greenery and open spaces of vast Osmania University.
    This project would redefine the luxury of living with the state of art design and ultra modern club house with abundant and thoughtful green spaces.</p>
</div>
