<div class="col-lg-12 project-highlights">
  <hr/>
    <h3 class="text-center">Project Highlights</h3>
  <hr/>
  <ul class="col-lg-4">
    <li>220 signature luxury apartments</li>
    <li>Around 2 Acres area of land</li>
    <li>5 Lakh constructed area consisting of 5 blocks</li>
    <li>100% Power backup</li>
    <li>13000 square feet club house</li>
  </ul>
  <ul class="col-lg-4">
    <li>400+ car parking provision</li>
    <li>200 meters walking path</li>
    <li>1162 to 2000 square feet area flats</li>
    <li>2, 2 1/2 & 3 BHK apartments</li>
    <li>Professionally Landscaped garden</li>
  </ul>
  <ul class="col-lg-4">
    <li>Air Conditioned Multi-purpose hall with lawn</li>
    <li>Swimming pool</li>
    <li>Children's play area</li>
    <li>Rain water harvesting</li>
    <li>Sewerage water water treatment plant</li>
  </ul>
</div>
