<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{owner.name}}</title>
  {{> meta-tags }}
  {{> css-tags }}
  {{> shim }}
</head>

<body>
  <br/>
  <div class="container">
    <div class="row">
      <div class="box">
        {{> main-carousel }}
      </div>
    </div>

    <div class="row">
      <div class="box">
        {{> project-description }}
      </div>
    </div>

    <div class="row">
      <div class="box">
        {{> project-highlights }}
      </div>
    </div>

    <div class="row">
      <div class="box">
        {{> booking-info }}
      </div>
    </div>
  </div>

  <footer>
    {{> footer }}
  </footer>

  {{> script-tags }}
  {{> google-structure-data }}
</body>
</html>
